<!DOCTYPE html>
<html>
<head>
    <title>Happy Hour</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
    <div id="flex-box">
        <div id="sidebar">
        <div class="logo"></div>
        <div class="hamburger"></div>
        <div id="locator">
          <button type="button"><div class="loc-icon"></div>My Location</button>
          <h4 class="or">or</h4>
          <form method="get">
            <input type="text" placeholder="Zip Code" class="zipcode" >
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div id="map"></div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=places"
  type="text/javascript"></script>

</body>
</html>