// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#flex-box {
  display: flex;
  min-height: 100%;
  flex-direction: row;
}

#map {
  height: 100vh;
  width: 100%;
}

#sidebar {
  background: rgba(65, 73, 71, 1);
}

.logo {
  margin: 20px 13px 0 13px;
  background-image: url("Logo.svg");
  background-repeat: no-repeat;
  width: 154px;
  height: 81px;
  border-bottom: 1px solid #979797;
}

@media screen and (max-width: 900px) {
  #flex-box {
    flex-direction: column;
  }
  .logo {
    margin: 15px 0 15px 14px;
    background-image: url("mobileLogo.svg");
    width: 34px;
    height: 34px;
    border-bottom: none;
  }
}